<div class="grid grid-rows-3 sm:grid-rows-none sm:grid-cols-3 h-full">
  <div class="opacity-100 overflow-hidden bg-cover bg-center" style="background-image: url('<%= Routes.static_path(@conn, "/images/pssst2.jpg") %>');">
  </div>

  <div class="p-4 lg:p-8 row-span-2 sm:row-auto sm:col-span-2 h-full text-center flex flex-col justify-center">
  <%= if @secret do %>
    <p class="mb-4">Secret:</p>
    <textarea class="mb-4 px-3 py-2 flex-1 resize-none focus:outline-none flex-1 w-full bg-black bg-opacity-0 border-2 rounded border-dashed" readonly="readonly">
      <%= @secret %>
    </textarea>
    <p><%= link "← Make a secret", to: Routes.page_path(@conn, :index), class: "text-blue-600 hover:text-blue-500" %></p>
  <% else %>
    <h3 class="mb-8 text-2xl">No secret here...</h3>
    <p><%= link "← Make a secret", to: Routes.page_path(@conn, :index), class: "text-blue-600 hover:text-blue-500" %></p>
  <% end %>
  </div>
</div>
